# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
# The key of your App
REACT_APP_STREAM_KEY=p2qp77cb7ukd

# The user id (must be a valid user in your app)
REACT_APP_USER_ID=<your-user-id>

# The user token (you can use https://getstream.io/chat/docs/react/tokens_and_authentication/?language=javascript#manually-generating-tokens)
REACT_APP_USER_TOKEN=zyf56qj9dhq9rtnxfh9pd5aexnjawcp58zvahtens4ah3grjathxqqjy4u2pu7fe

# Not needed for local development, you can leave it empty
REACT_APP_TARGET_ORIGIN=